[Unit]
Description=Postgres metrics exporter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/pg_exporter/start.sh

[Install]
WantedBy=multi-user.target